{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}

<h2>Liste des tâches</h2>

<ul class="list-group">

    {% for key, todo in todos %}

    <li class="list-group-item">

        <!-- TODO: delete-->
        <form action="" method="post">
            <button class="btn btn-xs btn-link" type="submit" name="delete"><span class="glyphicon glyphicon-remove"></span></button>
        </form>

        <span>
            {% if todo.status == 'done' %}
            <!-- tâche effectuée -->
            <a href="{{ path('todo_set_status', { 'id' : key, 'status' : 'undone' } ) }}"><span
                    class="glyphicon glyphicon-check"></span></a>
            {% else %}
            <!-- tâche non effectuée -->
            <a href="{{ path('todo_set_status', { 'id' : key, 'status' : 'done' } ) }}"><span
                    class="glyphicon glyphicon-unchecked"></span></a>
            {% endif %}

            <!-- lien vers tâche -->
            <a href="{{ path('todo_show', { 'id' : key }) }}">
                {% if todo.status == 'done' %}
                <!-- tâche effectuée -->
                <s>{{ todo.task }}</s>
                {% else %}
                <!-- tâche non effectuée -->
                {{ todo.task }}
                {% endif %}
            </a>
        </span>
    </li>
    {% endfor %}
</ul>

<h3>Nouvelle tâche</h3>

<form action="{{ path('todo_add') }}" method="post" class="form-inline">
    <div class="form-group">
        <input type="text" name="task" placeholder="Intitulé de la tâche" class="form-control">
        <input type="submit" name="add" value="Ajouter" class="form-control btn btn-primary">
    </div>
</form>

<hr>

{% endblock %}
